/* src/components/common/EventCard.module.css */

.card {
  background-color: var(--cor-branca);
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.05);
  margin: 1rem;
  width: 320px;
  display: flex;
  flex-direction: column;
  transition: box-shadow 0.3s ease, transform 0.3s ease;
  text-decoration: none;
  color: inherit;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(0,0,0,0.1);
}

.cardImage {
  width: 100%;
  height: 160px;
  object-fit: cover;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.cardContent {
  padding: 1rem;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.cardTitle {
  font-size: 1.25rem;
  margin-top: 0;
  margin-bottom: 0.5rem;
}

.cardDetails {
  margin-top: auto; /* Empurra os detalhes para o fundo do card */
  font-size: 0.9rem;
  color: #555;
}

.cardDetails p {
  margin: 0.25rem 0;
}